
body {
    /* background-color: rgb(236, 117, 117); */
    background: linear-gradient(rgb(250, 186, 186), transparent);
    background-color: #974d4d;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 1vw;
    overflow-x: hidden; /* tránh tràn ngang */
    position: relative;
    overflow: hidden;
    

    

    /* display: flex;
    justify-content: center; */
}

@media (max-width: 768px) {
    .container  {
        width: 100%;
        display: flex;
        justify-content: center;
        /* left: 0%; */
    }
    .letter {
        left: 10%;

    }
    .gift_box {
        left: 10%;
    }
    .shadow {
        left: 15%;
        margin-bottom: -50px;
    }
    .cake {
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        scale: 0.6; 
        top: 0;
    }

    .img1, .img2 {
        width: 400px;
        height: auto;
        position: absolute;
        bottom: 20%;
        z-index: 10;
        left: -70px;
        margin-left: -70px;
        margin-bottom: -100px;
    
    }
    .img1 {
        position: absolute;
        left: -300px;
    }


    
}

.drop {
    position: absolute;
    top: -10%;
    z-index: 0;
    animation: heart 10s  forwards;
}
@keyframes heart {
    0%{
        transform: translateY(0) rotate(90deg);
    }
    90%{
        transform: translateY(1000px) rotate(-90deg);
    }
    100%{
        opacity: 0;
    }
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.gift_box{
    position: absolute;
    width: 300px;
    height: 200px;
    background-color: rgb(236, 73, 73);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    opacity: 1;
    animation: gift 4s infinite ;

}
@keyframes gift {
    0%{
        transform: translateY(0px) scaleX(0.8);
    }    
    50%{
        transform: translateY(50px) scaleX(1);
    }    

    100%{
        transform: translateY(0px) scaleX(0.8);
    }
}
.gift_box::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 200px;
    background-color: rgb(242, 231, 77);
    z-index: 1;

    
}
.gift_box::after {
    content: "";
    position: absolute;
    width: 300px;
    height: 200px;
    box-shadow: inset 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
}
.shadow {
    width: 270px;
    height: 70px;
    border-radius: 70%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 30%;
    animation: shadow 4s infinite;
}
@keyframes shadow{
    0%{
        transform: scale(0.8);
    }
    50%{
        transform: scale(0.7);
    }
    100%{
        transform: scale(0.8);
    }
}
.click {
    position: absolute;
    height: 100px;
    width: 340px;
    background-color: rgb(236, 73, 73);
    z-index: 3;
    top: -100px;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    
}
.click.active {
    transform: translateY(-100px);
    animation: active 2s forwards;

}
.click::before {
    content: "❤️";
    text-align: center;
    font-size: 30px;
    position: absolute;
    width: 340px;
    height: 40px;
    background-color: rgb(242, 231, 77);
    top: 30%;
}
.click::after {
    position: absolute;
    content: "";
    border-left: 70px solid rgb(242, 231, 77);
    border-right: 70px solid rgb(242, 231, 77);
    border-top: 40px solid transparent;
    border-bottom: 20px solid rgb(242, 231, 77);
    top: -60px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

@keyframes active {
    0%{
        transform:  translateY(0px) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform:  translateY(-250px) rotate(-60deg) translateX(-100px) translateY(-100px);
        opacity: 0;
    }
}

.letter {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    /* background: url('../img/R.gif'); */
    background-size: cover;


}
.heading {
    font-size: 40px;
    font-weight: bold;
    font-family: cursive;
    color: #ffffff;
    top: 70px;
    position: absolute;
}
.ball {
    display: inline-block;
    justify-content: center;

    
}
.balloon {
    width: 60px;
    height: 70px;
    background-color: #e22f2f;
    border-radius: 70%;
    box-shadow: inset -10px -10px rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 2;
    animation: balloon 2s infinite;
}

@keyframes balloon {
    0%{
        transform: rotate(-45deg) ;
    }
    50%{
        transform: rotate(0deg) ;
    }
    800%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.balloon:nth-child(1){
    animation: balloon 3s infinite;
}
.balloon:nth-child(2){
    animation: balloon 2s infinite;
}
.balloon:nth-child(3){
    animation: balloon 5s;
    animation-duration: initial;
}
.balloon:nth-child(4){
    animation: balloon 4.5s;
    animation-duration: initial;
}

.cake {
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-70%, -50%);
    z-index: 1;
}

.holder {
    background-color: rgb(210, 220, 230);
    width: 450px;
    height: 170px;
    border-radius: 60%;
    position: absolute;
}
.text {
    position: absolute;
    bottom: 10px;
    color: #e22f2f;
    font-size: 40px;
    transform: rotateX(60deg);
    left: 20%;
    font-family: cursive;
    

}
.cake1 {
    background-color: rgb(250, 214, 157);
    position: absolute;
    width: 350px;
    height: 150px;
    left: 50px;
    top: -30px;
    z-index: 1;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
    /* box-shadow: inset -70px 2px rgba(245, 243, 243, 0.7); */
}
.cake1::before {
    content: "";
    position: absolute;
    background-color: rgb(236, 93, 93);
    height: 130px;
    width: 350px;
    top: -70px;
    border-radius: 50%;
    z-index: 4;
    
}
.cake1::after {
    content: "";
    position: absolute;
    background-color: rgb(250, 109, 109);
    height: 70px;
    width: 60px;
    border-radius: 50% 50% 50% 50%/ 0% 0% 100% 100%;
    box-shadow: 50px 20px rgb(250, 116, 116), 100px 40px rgb(250, 116, 116), 150px 10px rgb(250, 116, 116), 200px 20px rgb(250, 116, 116), 250px 20px rgb(250, 116, 116), 290px 3px rgb(250, 116, 116);
    
}
.dau {
    position: absolute;
    height: 30px;
    width: 25px;
    background-color: #d61a1a;
    z-index: 4;
    border-radius: 50%;
    box-shadow: 50px 20px #d61a1a, 120px 30px #d61a1a, 190px 35px #d61a1a, 260px 20px #d61a1a, 320px -10px #d61a1a;
}
.cake2 {
    background-color: rgb(250, 214, 157);
    position: absolute;
    width: 300px;
    height: 130px;
    left: 75px;
    top: -135px;
    z-index: 6;
    border-bottom-left-radius: 55%;
    border-bottom-right-radius: 55%;
}
.cake2::before {
    content: "";
    text-align: center;
    position: absolute;
    background-color: rgb(235, 100, 100);
    height: 120px;
    width: 300px;
    top: -60px;
    border-radius: 60%;
    z-index: 5;
}
.cake2::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 60px;
    background-color: rgb(250, 109, 109);
    border-radius: 50% 50% 50% 50%/ 0 0 100% 100%;
    box-shadow: 30px 20px rgb(250, 109, 109), 60px 10px rgb(250, 109, 109), 90px 20px rgb(250, 109, 109), 130px 35px rgb(250, 109, 109), 160px 20px rgb(250, 109, 109), 190px 20px rgb(250, 109, 109),220px 10px rgb(250, 109, 109),250px 0px rgb(250, 109, 109);

}
.cake3 {
    position: absolute;
    width: 230px;
    height: 100px;
    background-color: rgb(250, 214, 157);
    z-index: 7;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
    top: -215px;
    left: 110px;
    
    
}
.cake3::before {
    position: absolute;
    content: "";
    z-index: 8;
    height: 60px;
    width: 230px;
    background-color: #f3dcaa;
    border-radius: 60%;
    top: -35px;

}
.cake3::after {
    content: "";
    position: absolute;
    width: 45px;
    height: 50px;
    background-color: rgb(250, 109, 109);
    border-radius: 80%;

    border-radius: 50% 50% 50% 50%/ 0 0 100% 100%;
    box-shadow: 40px 18px rgb(250, 109, 109), 80px 8px rgb(250, 109, 109), 120px 15px rgb(250, 109, 109), 160px 0px rgb(250, 109, 109), 185px -2px rgb(250, 109, 109);
}

.candle {
    position: absolute;
    z-index: 7;
    background-color: #dd3a3a;
    height: 100px;
    width: 20px;
    top: -320px;
    left: 210px;
    border-radius: 5px;
}
.flame {
    position: absolute;
    width: 5px;
    height: 40px;
    background-color: #000000;
    top: -360px;
    left: 218px;
    z-index: 8;
}
.flame::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 45px;
    background-color: #f3843b;
    border-radius: 60%;
    top: -15px;
    left: -7px;
    box-shadow: 0px -10px 20px 10px #f5621e;
    
}
.flame::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 45px;
    background-color: #eb6c17;
    border-radius: 60%;
    top: -15px;
    left: -7px;
    box-shadow: 0px -10px 20px 10px #f3a024;
    animation: flame 1s infinite;
    
}
@keyframes flame {
    0%{
        transform: rotateY(-90deg) scale(0.4);
    }
    100%{
        transform: scale(0.6);
    }
}

.img {
    position: absolute;
    bottom: 25%;
    margin-left: 100px;

}
.img1, .img2 {
    width: 400px;
    height: auto;
    position: absolute;
    bottom: 30%;
    z-index: 10;
    
}


.img1 {
    transform: rotate(-270deg);
    right: 120px;
}
/* .img2 {

    left: 120px;
} */

.card {
    position: absolute;
    height: 40px;
    width: 50px;
    background-color: #e22f2f;
    z-index: 20;
    animation: card 1s infinite;
    left: 49%;
    bottom: 30%;
    cursor: pointer;

}
.card::before {
    content: "";
    position: absolute;
    border-bottom: 10px solid transparent;
    border-top: 20px solid #720f0f;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
}

@keyframes card {
    0%{
        transform: rotate(0);
    }
    15%{
        transform: rotate(-10deg);
    }
    30%{
        transform: rotate(-20deg);
    }
    45%{
        transform: rotate(10deg);
    }
    60%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(10deg);
    }
    90%{
        transform: rotate(20deg);
    }
    100%{
        transform: rotate(0deg);
    }
    
}
